<!-- app/views/accounts/edit_password.html.erb -->
<h2>Edit Password</h2>

<%= form_for :user, url: update_password_accounts_path, method: :patch do |form| %>
  <%= form.label :current_password %>
  <%= form.password_field :current_password %>

  <%= form.label :new_password %>
  <%= form.password_field :new_password %>

  <%= form.label :new_password_confirmation %>
  <%= form.password_field :new_password_confirmation %>

  <%= form.submit 'Update Password' %>
<% end %>
